<div id="header">
    <br />
    <div id="logo">
        <a href="{{ path('homepage') }}"><img src="{{ asset('img/logo.png') }}" alt="logo"height="80px" width="300px"></a> <br />Voorraadmanagement Software V1.0(Beta)
    </div>
</div>