<div id="menu">
    <ul>
        <li class="current_page_item"><a href="#">Home</a></li>
        <li><a href="{{ path('alleartikelenmazijn') }}">Magazijn</a></li>
        <li class="last"><a href="{{ path('alleartikelen') }}">Inkoop</a></li>
        <li class="last"><a href="{{ path('financieel') }}">Financieel</a></li>
    </ul>
</div>
