<div id="menu">
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('nieuwegebruiker') }}">Nieuwe gebruiker</a></li>
        <li><a href="{{ path('allegebruikers') }}">Alle gebruikers</a></li>
    </ul>
</div>

