<div id="menu">
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">Artikelen</button>
                <div class="dropdown-content">
                    <a href="{{ path('totalewaarde') }}">Totale Waarde</a>
                </div>
            </div>
        </li>
</div>
