<div id="menu">
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">Artikelen</button>
                <div class="dropdown-content">
                    <a href="{{ path('alleartikelenmazijn') }}">Artikel overzicht</a>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">Bestellingen</button>
                <div class="dropdown-content">
                    <a href="{{ path('alleordersmagazijn') }}">Bestelling overzicht</a>
                    <a href="{{ path('alleordersdatumzoek') }}">Nog te ontvangen bestellingen</a>
                </div>
            </div>
        </li>
    </ul>



</div>

