<div id="menu">
    <ul>
        <li class="current_page_item"><a href="{{ path('homepage') }}">Home</a></li>
        <li class="current_page_item"><a href="{{ path('alleartikeleninactief') }}">Inactieve producten</a></li>
        <li><a href="{{ path('nieuwartikel') }}">Artikel Toevoegen</a></li>
    </ul>
</div>