<div id="menu">
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('alleartikeleninactief') }}">Inactieve producten</a></li>
        <li><a href="{{ path('nieuwartikel') }}">Artikel Toevoegen</a></li>
        <li><a href="{{ path('alleartikelentebestellen') }}">Onder minimumvoorraad</a></li>
    </ul>
</div>