{% extends 'pages/base.html.twig' %}
{% block body %}
<br />
    <div id="wrapper">
        {% include 'blocks/header.html.twig' %}
        {% include 'blocks/menuMagazijn.html.twig' %}
        <div class="content"><br />
            <b>Zoek orders</b><br />
            Vul hieronder eend datum in en krijg alle orders die op deze datum worden geleverd.<br />
            <br />
            <div class="row">
                {#<div style="margin: 20px;"><input type="text" class="form-control" id="search-field" placeholder="Artikelnummer"></div>#}
            </div>
            <form action="{{ path('alleordersdatum')}}" method="post">
                <div id="order_Leverdatum" class="form-inline">
                    <select name="dag" class="form-control"><option value="-" selected="selected">--</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
                    <select name="maand" class="form-control"><option value="-" selected="selected">--</option><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select>
                    <select name="jaar" class="form-control"><option value="-" selected="selected">--</option><option value="2017">2017</option><option value="2018">2018</option></select>
                    <input type="submit" class="btn btn-success" value="Bevestigen"/>
                </div>

            </form>
        </div>
        {% include 'blocks/footer.html.twig' %}
    </div>
    </body>
{% endblock %}
