
<html >
<head>
    <meta charset="UTF-8">
    <title>Lunenburg</title>


    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    {% endblock %}


</head>

<body>
<body>
<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <img src="{{ asset('img/logo.png') }}" alt="logo"height="70px" width="250px">
        </div>
        <form action="{{ path('login')}}" method="post">
            <div class="login-form">
                {% if loginfail is defined  %}
                    <span style="color:red;">Gebruikersnaam en of wachtwoord incorrect.</span>
                {% endif %}
                <div class="control-group">
                    <input name="gebruikersnaam" type="text" class="login-field" value="" placeholder="Gebruikersnaam"id="gebruikersnaam">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
                    <input name="wachtwoord" type="password" class="login-field" value="" placeholder="Wachtwoord" id="wachtwoord">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
                <input value="Inloggen" name="verzenden" type="submit" class="btn btn-primary btn-large btn-block" />
            </div>
        </form>
    </div>
</div>
</body>


</body>
</html>
