{% extends 'pages/base.html.twig' %}
{% block body %}
<br />
    <div id="wrapper">
        {% include 'blocks/header.html.twig' %}
        {% include 'blocks/menuArtikelen.html.twig' %}
        <div class="content"><br />
            <b>Inloggen</b><br />
            Alle orders.
            <div class="row">
                {#<div style="margin: 20px;"><input type="text" class="form-control" id="search-field" placeholder="Artikelnummer"></div>#}
            </div>
            <form action="{{ path('login')}}" method="post">
                {% if loginfail is defined  %}
                    {% if loginfail == 1 %}
                        <span style="color:red;">Gebruikersnaam niet gevonden.</span>
                    {% elseif loginfail == 2 %}
                        <span style="color:red;">Gebruikersnaam in combinatie met het wachtwoord is incorrect.</span>
                    {% endif %}
                {% endif %}
                <input type="text" name="gebruikersnaam"/>
                <input type="password" name="wachtwoord"/>
                <input name="verzenden" type="submit" class="btn btn-success" />
            </form>
        </div>
        {% include 'blocks/footer.html.twig' %}
    </div>
    </body>
{% endblock %}
