{% extends 'base.html.twig' %}
{% block body %}
<form method="post" action="">
    HOMOS
    <b>Toevoegen artikel inkoper</b>
    {{ form_widget(form) }}
    <input class="btn btn-default" type="submit">
    <a href="javascript:history.back()">Annuleren</a>
</form>
{% endblock %}