<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}VMS Lunenburg{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/default.css') }}">
        {% endblock %}

    </head>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <body>
        {% block body %}{% endblock %}

    </body>
    {% block javascripts %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/modal.js') }}"></script>
    {% endblock %}
</html>
