{% extends 'pages/base.html.twig' %}
{% block body %}
<div id="wrapper">
    {% include 'blocks/header.html.twig' %}
    {% include 'blocks/mainMenu.html.twig' %}

    <div class="content"><br />
        Welkom!<br />
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel arcu id nibh elementum gravida sit amet nec ante. Praesent in odio risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec condimentum, felis eget auctor consequat, tortor felis bibendum erat, id malesuada nunc ex vel ex. Integer ut imperdiet enim, vitae sagittis libero. Integer elementum, elit blandit feugiat gravida, turpis justo blandit risus, at blandit magna est in neque. Maecenas dignissim auctor tincidunt. Nullam malesuada felis quis consequat pretium. Maecenas sit amet dictum tortor. In non efficitur mauris. Fusce mollis nunc in nibh mollis dictum. Aenean orci urna, pulvinar a porta ac, placerat non urna.<br />
        <br />
        Cras sit amet ex id enim elementum ultricies nec ut diam. Curabitur ligula nisi, commodo vitae varius ac, aliquet et purus. Phasellus porta, elit sit amet ullamcorper mollis, ipsum ligula iaculis magna, vel dignissim libero ex quis quam. Praesent mollis tempor ligula, at aliquet justo aliquet vitae. Donec dictum luctus neque id ornare. Praesent nec est arcu. Sed pulvinar libero lacus, vitae fermentum nunc iaculis nec. Aenean vitae maximus velit. Praesent bibendum, nibh venenatis accumsan elementum, nisl risus varius justo, vel tempus turpis massa vel metus. Curabitur sollicitudin in metus eu ultrices. Suspendisse finibus dolor eu suscipit commodo.<br />
        <br />
        Aenean vitae arcu imperdiet, sagittis risus in, bibendum nisi. Nunc ut urna ut libero vulputate egestas eu sed magna. Nulla nec aliquet turpis. Etiam nibh est, vehicula et blandit id, maximus viverra massa. Ut metus purus, tristique a mauris vitae, euismod molestie augue. Aliquam vel justo pellentesque, aliquet odio id, pretium nisl. Praesent quis felis non magna rhoncus iaculis. Nam posuere orci non nisi tempus cursus. Vestibulum accumsan libero quis metus suscipit porttitor. Aenean tempus tortor ut elementum dictum. Duis libero libero, gravida et sodales vel, elementum in ipsum. In porttitor rhoncus lectus, quis molestie mi iaculis non.<br />
    </div>
    {% include 'blocks/footer.html.twig' %}

</div>
{% endblock %}
