{% extends 'pages/base.html.twig' %}
{% block body %}
<div id="wrapper">
    {% include 'blocks/header.html.twig' %}
    {% include 'blocks/mainMenu.html.twig' %}

    <div class="content">
    </div>
    <br />
    <div class="container">
        <h2>Specialist in klanttevredenheid</h2>

        We zijn een familiebedrijf dat al 35 jaar bekend staat als dè elektrospecialist in de wijde omgeving. Dat komt door ons brede assortiment en onze eerlijke prijzen, maar ook door de vertrouwde gezichten in de winkel, het professionele advies dat we geven en onze uitmuntende service.<br />
        <br />
        Eigenlijk is het heel logisch dat service de rode draad is in onze bedrijfsgeschiedenis. Toen Peter Lunenburg het bedrijf in 1980 startte, had hij immers jaren gewerkt als servicemonteur bij een van de bekende witgoedmerken. Hij wist dus dat het maar om één ding draait: klanttevredenheid.<br />
        <br />
        Sinds die tijd zijn we flink gegroeid:<br />
        <br />
        - We verhuisden van de Achtersteweg naar de Duyn en Daelseweg (1993)<br />
        - We ontwikkelden ons van witgoedspecialist tot allround elektrospecialist<br />
        - We namen de activiteiten van Kees van de Mortel (2004) over<br />
        - We namen de vestiging in Rosmalen over (2012)<br />
        - We groeiden uit tot een hecht team van ruim 30 medewerkers.<br />
        <br />
        <br />
        Dat veranderde echter niks aan de basis. Sterker nog: juist dankzij onze grote klanttevredenheid zijn we een begrip geworden in de wijde omgeving.<br />
        <br />
        <br />
        In 2009 namen wij het stokje over van onze ouders Peter en Ria. Samen met onze collega’s werken we nog iedere dag volgens dezelfde principes. Dat doen we in twee winkels (Nuland en Rosmalen), met onze eigen bezorgdienst en onze eigen technische dienst. En natuurlijk ook online. Al zien we u graag op de winkelvloer, want uiteindelijk kan er niets op tegen persoonlijk advies!<br />
        <br />
        <b>Patrick, Ronny en Jurgen Lunenburg</b><br />
        <br />
    </div>
    {% include 'blocks/footer.html.twig' %}

</div>
{% endblock %}
