{% extends 'pages/base.html.twig' %}
{% block body %}
<br />
    <div id="wrapper">
        {% include 'blocks/header.html.twig' %}
        {% include 'blocks/menuArtikelen.html.twig' %}
        <div class="content"><br />
            <b>Welkom Inkoper!</b><br />
            Via deze omgeving is het mogelijk om allerlei handelingen uit te voeren met betrekking tot de producten. U kunt hier alle gegevens van onze producten wijzigen.<br />
            <div class="row">
            </div>
            <table id="artikelen" class="table table-hover" style="margin: 20px; width: 97%;">
                <thead>
                <tr>
                    <th>Producttype</th>
                    <th>Vorraad per producttype</th>
                </tr>
                </thead>
                <tbody>
                  {% set key = 0 %}
                {% for artikel in artikelen %}
                    <tr onclick="window.document.location='{{ path('producttype',{'bestelserie':artikel.bestelserie}) }}';">
                        <td>{{ artikel.bestelserie }}</td>
                      <td>{{aantallen[key].bestelserieCount}}</td>

                    </tr>
                    {% set key = key +1 %}
                {% endfor %}

                </tbody>
            </table>
        </div>
        {% include 'blocks/footer.html.twig' %}
    </div>
    </body>
{% endblock %}
