{% extends 'pages/base.html.twig' %}
{% block body %}
<br />
    <div id="wrapper">
        {% include 'blocks/header.html.twig' %}
        {% include 'blocks/menuFinancieel.html.twig' %}
        <div class="content"><br />
            <b>Welkom Financieel Manager!</b><br />
            Via deze omgeving is het mogelijk om inzage te krijgen in de waarde van de gehele voorraad aan de hand van de inkoopprijs.<br />
            <div class="row">
            </div>
            <table id="artikelen" class="table table-hover" style="margin: 20px; width: 97%;">
                <thead>
                <tr>
                    <th>Producttype</th>
                    <th>Waarde inkoopprijs per producctype</th>
                </tr>
                </thead>
                <tbody>
                  {% set key = 0 %}
                {% for artikel in artikelen %}
                        <td>{{ artikel.bestelserie }}</td>
                      <td>&euro; {{aantallen[key].inkoopprijsCount}}</td>
                    </tr>
                    {% set key = key +1 %}
                {% endfor %}

                </tbody>
            </table>
        </div>
        {% include 'blocks/footer.html.twig' %}
    </div>
    </body>
{% endblock %}
